
NEXT_PUBLIC_SUPABASE_URL=https://dumfgbqbcubcrlnwhhca.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR1bWZnYnFiY3ViY3JsbndoaGNhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA0ODk1MTgsImV4cCI6MjA3NjA2NTUxOH0.Iw2lMh4R_BOyAznOiA4gQDyeKbppRK-hxNQfwm5EJZ4

